.maho{
    display: flex;
    flex-direction: row;

    
    .imagem {
        width: 33em;
        height: 33em;
        margin-top: 1.5em;
    }

    .div-direita{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}